<!-- ./src/html/index.ejs -->
<!DOCSPACE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" type="text/css" href="../css/app.css"> -->
  <title>TICTACTOE</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Tic Tac Toe</h1>
        <p>Brogrammers</p> 
      </div>
    <table 
    class="board">
        <tr class="top">
          <td id="zero" class="cell"></td>
          <td id="one" class="cell"></td>
          <td id="two" class="cell"></td>
        </tr>
        <tr class="middle">
          <td id="three" class="cell"></td>
          <td id="four" class="cell"></td>
          <td id="five" class="cell"></td>
        </tr>
        <tr class="bottom">
          <td id="six" class="cell"></td>
          <td id="seven" class="cell"></td>
          <td id="eight" class="cell"></td>
        </tr>
      </table>
      <button id="resetButton" type="button" class="btn btn-outline-dark">Restart</button>
      <p id="playerTurnDisplay">X, it's your turn!</p>
      <p>X has </p><p id="XplayerScoreDisplay">0</p><p>points!</p>
      <p>Y has </p><p id="YplayerScoreDisplay">0</p><p>points!</p>
</body>
</html>
