<!-- /src/html -->
<!DOCSPACE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>TICTACTOE</title>
</head>
<body>
    <table 
    class="board">
        <tr class="top">
          <td id="zero" class="cell"></td>
          <td id="one" class="cell"></td>
          <td id="two" class="cell"></td>
        </tr>
        <tr class="middle">
          <td id="three" class="cell"></td>
          <td id="four" class="cell"></td>
          <td id="five" class="cell"></td>
        </tr>
        <tr class="bottom">
          <td id="six" class="cell"></td>
          <td id="seven" class="cell"></td>
          <td id="eight" class="cell"></td>
        </tr>
      </table>
      <button id="resetButton">Play again</button>
      <p id="playerTurnDisplay">X, it's your turn!</p>
      <p id="XplayerScoreDisplay">X has 0 points!</p>
      <p id="OplayerScoreDisplay">0 has 0 points!</p>
</body>
</html>
