/*TicTacToe/src/css*/
h1 {
    text-align: center;
    color: royalblue;
}

body {
    text-align: center;
    background-color: black;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2em;
}

.board {
    font-size: 70px;
    margin: auto;
    border-collapse: collapse;
}

td {
    height: 100px;
    width: 100px;
    text-align: center;
}

#one, #four, #seven {
    border-left:5px solid #fff;
    border-right:5px solid #fff;
}

#three, #four, #five {
    border-top:5px solid #fff;
    border-bottom:5px solid #fff;
}

#playerTurnDisplay{
    margin: auto;
    margin-top: 30px;
    height: 30px;
    width: 250px;
}
#XplayerScoreDisplay, #OplayerScoreDisplay {
    display:inline-block;
    margin: auto;
    height: 50px;
    width: 100%;
}

button {
    margin-top: 20px;
}