/*TicTacToe/src/css*/
h1 {
    text-align: center;
    color: royalblue;
}

td {
    height: 100pxç;
    width: 100px;
}

#two, #five, #eight {
    
    border-left:3px solid #000;
    border-right:3px solid #000;
}